.header {
  height: 80px;
  margin-bottom: 50px;

  -webkit-box-shadow: -1px 9px 34px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -1px 9px 34px -10px rgba(0, 0, 0, 0.51);
  box-shadow: -1px 9px 34px -10px rgba(0, 0, 0, 0.51);
}
